---
layout: default
title: Anne Buguet - Illustratrice
description: Anne Buguet illustre des contes pour enfant - Bibliographie
keywords: anne buguet, anne, buguet, illustratrice, illustration, contes, contes pour enfants
id: bibliographie
---

<section>
	<ul>
		{% for book in site.data.books %}
			<li>
				<em>{{ book.title }} </em>
				<br>
				<b>{{ book.author }}</b> - {{ book.editor }} {{ book.date }}{% if book.price %} - {{ book.price }}{% endif %}
				{% if book.translation %}<br><i>{{ book.translation }}</i>{% endif %}
			</li>
		{% endfor %}
	</ul>
</section>