---
layout: default
title: Anne Buguet - Illustratrice
description: Anne Buguet illustre des contes pour enfant - Illustrations
keywords: anne buguet, anne, buguet, illustratrice, illustration, contes, contes pour enfants
id: illustrations
imgPath: /img/illustrations/
---

<link rel="stylesheet" href="{{ site.baseurl }}/vendor/PhotoSwipe/dist/photoswipe.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/vendor/PhotoSwipe/dist/default-skin/default-skin.css" />
<script src="{{ site.baseurl }}/vendor/PhotoSwipe/dist/photoswipe.min.js"></script>
<script src="{{ site.baseurl }}/vendor/PhotoSwipe/dist/photoswipe-ui-default.min.js"></script>

<section>
	{% for image in site.data.images %}
		<a href="{{site.baseurl}}{{ page.imgPath }}full/{{ image.filename }}"
		   class="picture"
		   data-size="{{ image.size }}"
		><img src="{{site.baseurl}}{{ page.imgPath }}thumb/{{ image.filename }}"></a>
	{% endfor %}
</section>

<footer>images soumises à copyright © Anne Buguet {{ 'now' | date: "%Y" }}</footer>




<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

	<!-- Background of PhotoSwipe.
		 It's a separate element as animating opacity is faster than rgba(). -->
	<div class="pswp__bg"></div>

	<!-- Slides wrapper with overflow:hidden. -->
	<div class="pswp__scroll-wrap">

		<!-- Container that holds slides.
			PhotoSwipe keeps only 3 of them in the DOM to save memory.
			Don't modify these 3 pswp__item elements, data is added later on. -->
		<div class="pswp__container">
			<div class="pswp__item"></div>
			<div class="pswp__item"></div>
			<div class="pswp__item"></div>
		</div>

		<!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
		<div class="pswp__ui pswp__ui--hidden">

			<div class="pswp__top-bar">

				<!--  Controls are self-explanatory. Order can be changed. -->

				<div class="pswp__counter"></div>

				<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

				<button class="pswp__button pswp__button--share" title="Share"></button>

				<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

				<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

				<!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
				<!-- element will get class pswp__preloader--active when preloader is running -->
				<div class="pswp__preloader">
					<div class="pswp__preloader__icn">
						<div class="pswp__preloader__cut">
							<div class="pswp__preloader__donut"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
				<div class="pswp__share-tooltip"></div>
			</div>

			<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
			</button>

			<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
			</button>

			<div class="pswp__caption">
				<div class="pswp__caption__center"></div>
			</div>

		</div>

	</div>

</div>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		let items = []
		let pswp = document.querySelectorAll('.pswp')[0]
		document.querySelectorAll('.picture').forEach( (pic, idx) => {
			let	size   = pic.getAttribute('data-size').split('x'),
				width  = size[0],
				height = size[1]

			let item = {
				src : pic.getAttribute('href'),
				w   : width,
				h   : height
			}
			items.push(item)
			
			pic.addEventListener('click', event => {
				event.preventDefault()

				let options = {
					index: idx,
					bgOpacity: 0.7,
					showHideOpacity: true
				}

				let lightBox = new PhotoSwipe(pswp, PhotoSwipeUI_Default, items, options)
				lightBox.init()
			})
		})
	})
</script>