<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="{{ page.description }}" />
	<meta name="keywords" content="{{ page.keywords }}" />
	<title>{{ page.title }}</title>
	<link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" />
	<link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/js/vendor/PhotoSwipe/dist/default-skin/default-skin.css" />
	<link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/js/vendor/PhotoSwipe/dist/photoswipe.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/vendor/PhotoSwipe/dist/photoswipe.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/vendor/PhotoSwipe/dist/photoswipe-ui-default.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/vendor/three.js/build/three.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/front.js"></script>
</head>

<body id="{{ page.id }}">
	<div>
		<header>
			<div id="logo">
				<h1 class="title">Anne Buguet, Illustratrice</h1>
			</div>
			{% include nav.html %}
		</header>

		<main >
			{{ content }}
		</main>
	</div>

	<!-- Piwik -->
	<script type="text/javascript">
		var _paq = _paq || [];
		_paq.push(["trackPageView"]);
		_paq.push(["enableLinkTracking"]);

		(function() {
			var u=(("https:" == document.location.protocol) ? "https" : "http") + "://www.crachecode.net/piwik/";
			_paq.push(["setTrackerUrl", u+"piwik.php"]);
			_paq.push(["setSiteId", "9"]);
			var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
			g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
		})();
	</script>
	<!-- End Piwik Code -->

</body>
</html>