<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ page.description }}" />
	<meta name="keywords" content="{{ page.keywords }}" />
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" />
	<script type="module" src="{{ site.baseurl }}/js/app.js"></script>
</head>

<body id="{{ page.id }}">
	<div id="chtulu"></div>
	<div>
		<header>
			<div id="logo">
				<h1 class="title">Anne Buguet, Illustratrice</h1>
			</div>
			{% include nav.html %}
		</header>

		<main >
			{{ content }}
		</main>
	</div>

	<!-- Matomo -->
	<script>
		var _paq = window._paq = window._paq || [];
		/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
			var u="https://matomo.crachecode.net/";
			_paq.push(['setTrackerUrl', u+'matomo.php']);
			_paq.push(['setSiteId', '9']);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
		})();
	</script>
	<!-- End Matomo Code -->

</body>
</html>